    <div class="texts-wrapper">
      <div class="contents-title text-center">
        <h4 class="my-1 ">〜作りました/レビュー〜</h4>
          <div class="row">
            <div class="col-12">
              <div class="recipe-reviews">
                  <%= render 'reviews/review', reviews: @reviews %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class "row">
      <div class"col-8">
        <% if user_signed_in? %>
          <% if current_user.id != @recipe.user.id %>
            <div class="row my-5">
              <div class="col-10 offset-1">
                <div class="recipes-reviews">
                  <%= form_with(model: [@recipe, @review], id: "new-review") do |f| %>
                    <%= f.attachment_field :review_image, class: "imag-review" %>
                    <%= f.text_field :comment, class: "input-review" %>
                    <%= f.submit "コメントする", class: "submit-review", placeholder: "レビューここに記入しよう！" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
          <% end %>
        <% end %>
      </div>
    </div>