<div class='container'>
  <div class="row">
    <div class="col-12">
      <h2>レシピ投稿編集</h2>
        <%= form_with model:@recipe, url:recipe_path, local:true do |f| %>
          <div class="col-12">
            <div class="form-group col-6">
              <%= f.label :レシピ画像, class: "col-3" %>
              <%= f.attachment_field :recipe_image %>
            </div>
            <div class="row form-group col-6">
              <%= f.label :レシピ名, class: "col-3" %>
              <%= f.text_field :name, placeholder:"レシピ名", class: 'col-6 form-control' %>
            </div>
            <div class="row form-group col-6">
              <%= f.label :レシピ説明, class: "col-3" %>
              <%= f.text_field :work, placeholder:"レシピ説明", class: 'col-6 form-control' %>
            </div>
            <div class="row form-group col-6">
              <%= f.label :◯人分, class: "col-3" %>
              <%= f.text_field :count, placeholder:"2人分", class: 'col-6 form-control' %>
            </div>
            <%= f.fields_for :materials do |m| %>
              <%= render "recipes/material_fields", f: m %>
            <% end %>
            
            <div id="detail-association-insertion-point"></div>
        
              <div class="col-10 mx-auto mt-2">
                <%= link_to_add_association "+フォームを追加", f, :materials, class: "btn btn-secondary btn-block" %>
              </div>
              
             <div id="detail-association-insertion-point"></div>
            <div class="row form-group">
              <%= f.label :作り方, class: "col-3" %>
              <%= f.text_area :description, placeholder:"ここに説明文を記述します", class: 'col-6 form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit "レシピ変更", class: 'btn btn_success btn-lg offset-5' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>