<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-4 offset-4 text-center my-4">
      <h3 class="log-taitl">カレンダー</h3>
      </div>
        <div class="text-center my-5">
          <h4><strong>今日の腸の状態は？</strong></h4>
        </div>
        <div class="row form-group col-8 offset-3 my-4">
        <%= form_with model:@log, url:log_path, method: :patch, local:true do |f| %>
          <%= f.radio_button :record_status, :fine, {checked: true} %>
          <%= image_tag 'logo0.png', size: "150x100"%>

          <%= f.radio_button :record_status, :low , {} %>
          <%= image_tag 'logo1.png', size: "150x100"%>

          <%= f.radio_button :record_status, :sick, {} %>
          <%= image_tag 'logo3.png', size: "150x100"%></br>

          <%= f.label :日時, class: "time_date my-5" %>
            <%= f.datetime_select :start_time %>
          <div class="row form-group col-8 offset-3 my-4">
            <%= f.submit "登録", class: 'btn btn-outline-secondary col-5 offset-2' %>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>