<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-4 offset-4 text-center my-4">
      <h3 class="log-taitl">カレンダー</h3>
      </div>
        <div class="col-8 my-10">
          <h4><strong>今日の腸の状態は？</strong></h4>
        </div>
        <div class="row form-group col-8 my-4">
        <%= form_with model:@log, url:logs_path, method: :post, local:true do |f| %>
          <%= f.radio_button :record_status, :fine, {checked: true} %>
          <%= image_tag 'logo0.png', size: "150x100"%>

          <%= f.radio_button :record_status, :low , {} %>
          <%= image_tag 'logo1.png', size: "150x100"%>

          <%= f.radio_button :record_status, :sick, {} %>
          <%= image_tag 'logo3.png', size: "150x100"%></br>
          
          <%= f.label :日時, class: "time_date my-3" %>
            <%= f.datetime_select :start_time %>
            
          <%= f.submit "登録", class: 'btn btn-outline-secondary offset-10' %>
          <% end %>
        </div>
    </div>
  </div>
</div>