<div class='container'>
  <div class="row">
    <div class="col-5 mt-4 offset-4">
      <h4><strong><%= current_user.name %>さん 今日の腸の調子は？</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mt-4 offset-4">
      <div class"log-condition">
        <% if @log.record_status == "fine"  %>
          <div class"imag-status"><%= image_tag 'logo0.png', size: "150x100" %></div>
          <h3 class="log-text">その調子で頑張ろう！！</h3>
        <% elsif @log.record_status == "low" %>
          <div class"imag-status"><%= image_tag 'logo1.png', size: "150x100"%></div>
          <h3 class="log-text">おすすめレシピで綺麗習慣、頑張ろう！</h3>
        <% else %>
          <div class"imag-status"><%= image_tag 'logo3.png', size: "150x100" %></div>
          <h3 class="log-text">腸を温めて、休息をとろう！</h3>
        <% end %>
      </div>
    </div>
    <div class="col-5 mt-4 offset-4">
      <div class="link">
        <%= link_to '編集', edit_log_path(@log.id), class:"link btn btn_success" %>
        <%= link_to '削除', log_path(@log.id), method:  :delete, data: {confirm: "本当に削除しますか？"}, class:"link btn btn_success" %>
      </div>
    </div>
    </div>
  </div>
</div>