<% reviews.each do |review| %>
    <div class="recipe_image">
      <%= attachment_image_tag(review, :review_image,:fill, 60, 60) %>
    </div>
    <div class="topPosition">
      <%= link_to user_path(review.user.id), class: "review-user-link" do %>
        <p class="commentUserName"><%= review.user.name %></p>
      <% end%>
      <div class="bottom-review">
        <p class="review-content"><%= review.comment %></p>
        <p class="review-datetime"><%= review.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <% if review.user_id == current_user.id %>
        <%= link_to recipe_review_path(review.recipe_id, review.id), method: :delete, remote: true, class: "delete-review-link" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
<% end %>
