<ul class="thumbs-list">
  <div id="slider">
    <% reviews.each do |review| %>
      <li class="list-items recipe-review">
        <p>
          <%= attachment_image_tag review, :review_image, :fill, 200, 200, class:"card-img-review ml-5"; %>
        </p>
        <p class="recipe-title mr-5">
          <%= link_to user_path(review.user.id), class:"review-user-link" do %>
            <span><i class="fas fa-user"></i><%= review.user.name %></span>
          <% end%>
        </p>
        <p class="review-content mr-5">
          <%= review.comment %>
        </p>
        <p class="review-datetime mr-5">
          <%= review.created_at.strftime('%Y/%m/%d') %>
        <% if user_signed_in? %>
          <% if current_user.id != review.user_id %>
          <% else %>
            <%= link_to recipe_review_path(review.recipe_id, review.id), method: :delete, remote: true, class: "delete-review-link" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        <% end %>
        </p>
      </li>
    <% end %>
  </div>
</ul>


<script>
// 非同期通信を利用jqueryが読み込まれないためココに記載しました。
  $(function() {
    $('#slider').slideDown(1000);
    $('#slider').slick({
        dots: true, //スライドの下にドットのナビゲーションを表示
        autoplay: true,
        autoplaySpeed: 4000,
        arrows: true,
        slidesToShow: 4, //表示するスライドの数
        slidesToScroll: 4, //スクロールで切り替わるスライドの数

        //レスポンシブ対応させたい場合は以下も記述
        responsive: [{
          breakpoint: 768, //画面幅768pxで以下のセッティング
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
          }
        }]
    });
  });
</script>