<!DOCTYPE html>
<html>
  <head>
    <title>Chokatsu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

     <!--link rel="stylesheet" href="users.scss" media="screen and (max-width:500px)"-->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0">

  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container">
          <div>
            <%= link_to root_path, class: "navbar-brand", local: true do %>
            <h5 class="lo">chokatsu recipe</h5>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                <div class="mt-1 mr-5"><strong>ようこそ、<%= current_user.name %>さん！</strong></div>
                <li class="nav-item mr-1"><%= link_to "about", about_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "マイページ", user_path(current_user.id), class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "レシピ一覧", recipes_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "レシピ投稿", new_recipe_path, class: "nav-link " %></li>
                <li class="nav-item mr-1 "><%= link_to "ログ", logs_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link " %></li>
              <% else %>
                <li class="nav-item mr-1"><%= link_to "レシピ一覧", recipes_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "新規登録", new_user_registration_path, class: "nav-link " %></li>
                <li class="nav-item mr-1"><%= link_to "ログイン", new_user_session_path, class: "nav-link " %></li>
              <% end %>
            </ul>
            <div class="row ml-auto mr-1">
              <%= form_with url: search_path, method: :get, class: "search form-inline", local: true do |f| %>
                <%= f.text_field 'search[value]', placeholder:"レシピ検索", class: "search_form" %>
                <%= f.hidden_field 'search[how]', value: "partical" %>
                <%= f.submit "検索", class: "btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
       <div class="container mt-5">
  	     <div class="row">
    	     <div class="mx-auto">
    		     <p>©chokatsu recipe</p>
    	     </div>
        </div>
       </div>
     </footer>
  </body>
</html>
